*::before , *::after{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
body{
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, rgb(0, 149, 255), rgb(0, 128, 77)) ;
}
.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px) ;
}
.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background: rgba(255, 255, 255 .75);
}
.calculator-grid > button:hover{
    background-color: rgb(255, 255, 255);
}
.span-two{
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: #000000bf;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;

}
.output.previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output.current-operand {
    color: white;
    font-size: 2.5rem;
}